<!DOCTYPE html>
<html>
  <head>
    <title>Beamergram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.splash_image = "<%= image_url('splash_image.png') %>";
      window.icon = "<%= image_url('icon.png') %>";
      window.plusIcon = "<%= image_url('plus_icon.png') %>";
      window.profileIcon = "<%= image_url('profile_icon.png') %>";
      window.settingsIcon = "<%= image_url('settings_icon.png') %>";
      window.likeIcon = "<%= image_url('like_icon.png') %>";
      window.showIcon = "<%= image_url('show_icon.png') %>";
      window.commentIcon = "<%= image_url('comment_icon.png') %>";
      window.profileImage = "<%= image_url('profile_image.png') %>"; 
      window.bmwLogo = "<%= image_url('bmw_logo') %>";
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>